{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    New FAQ
{% endblock %}

{% block content %}
    <div class="col-md-10">
        <h2>Please fill in the details of your new frequently asked question (FAQ).</h2>
        <form id="id_valid_form" method="post" action="{% url 'add_faq' %}" autocomplete="off"
              data-validate-question-url="{% url 'validate_faq' %}" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form | crispy }}

            <label for="image-uploads" style="margin-bottom: 10px">Upload Index Files</label>
            <input id="image-uploads" style="margin-bottom: 10px" type="file" name="index_files" accept=".jpg,.jpeg,.png" multiple>
            <p id="hint_id_image_uploads" class="help-block">(Optional) Please add index files for automatic keyword extraction.</p>

            <label for="video-upload" class="control-label requiredField" style="margin-bottom: 10px">Upload Video<span class="asteriskField">*</span></label>
            <input id="video-upload" style="margin-bottom: 10px" type="file" name="video_file" accept=".avi,.mp4,.wmv,.flv,.mov" required>
            <p id="hint_id_video_upload" class="help-block">Please upload your video.</p>

            <button type="submit" id="id_btn_submit" class="btn btn-success">Submit</button>
        </form>
    </div>
{% endblock %}

{% block javascript %}
    <script>
    $('#id_btn_submit').click(function(){
        return confirmDialog('Are you sure you want to add this topic?');
    });
    $('#id_difficulty_level').addClass('selectpicker');
    $("#id_title").change(function () {
        let form = $(this).closest("form");
        ajax_validate("#id_title", "data-validate-question-url", form);
    });
    </script>
{% endblock %}