{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
New Course
{% endblock %}

{% block content %}
    <div class="col-md-10">
        <h2>Please fill in the details of your new course.</h2>
        <form id="id_valid_form" method="post" action="{% url 'add_course' %}" autocomplete="off" enctype="multipart/form-data"
              data-validate-course-no-url="{% url 'validate_course_no' %}" data-validate-course-name-url="{% url 'validate_course_name' %}">
            {% csrf_token %}

            {{ form | crispy }}

            <label for="image-uploads" style="margin-bottom: 10px">Upload Index Files</label>
            <input id="image-uploads" style="margin-bottom: 10px" type="file" name="index_files" accept=".jpg,.jpeg,.png" multiple>
            <p id="hint_id_image_uploads" class="help-block">(Optional) Please add index files for automatic keywords extraction.</p>

            <button type="submit" id="id_btn_submit" class="btn btn-success">Create</button>
        </form>
    </div>
{% endblock %}

{% block javascript %}
    <script>
    $('#id_btn_submit').click(function(){
        return confirmDialog('Are you sure you want to add this course?');
    });
    $("#id_course_no").change(function () {
        let form = $(this).closest("form");
        ajax_validate("#id_course_no", "data-validate-course-no-url", form);
    });
    $("#id_course_name").change(function () {
        let form = $(this).closest("form");
        ajax_validate("#id_course_name", "data-validate-course-name-url", form);
    });
    </script>
{% endblock %}