<div class="player-container">
    <div id="player"> </div>
    <div class="sidebar" style="margin-left: 50px;">
        <div id="searchbox" class="searchbox">
            <span id="match" class="match">0 of 0</span>
            <input id="search-caption" type="search" class="search" autocomplete="off"/>
        </div>
        <div id="transcript" class="transcript"></div>
    </div>
    <div >
         <div style="margin: 15px 5px 0 550px;">
            <div style="font-size: 19px;">
                {% if topic %}
                    <a class="like-button" data-href="{{ topic.get_api_like_url }}" style="cursor: pointer; text-decoration: none;">
                        <i id="likeIcon" class="fas fa-thumbs-up {% if user in topic.likes.all %} black-thumbs-up {% else %} gray-thumbs-up {% endif %}"></i>
                    </a> &nbsp;
                    <span id="like-count">{{ topic.likes.count }}</span> &ensp;
                    <i class="fas fa-eye" title="Views" ></i> &nbsp;
                    {{ topic.views.count }}
                {% elif faq %}
                    <a class="like-button" data-href="{{ faq.get_api_like_url }}" style="cursor: pointer; text-decoration: none;">
                        <i id="likeIcon"  class="fas fa-thumbs-up {% if user in faq.likes.all %} black-thumbs-up {% else %} gray-thumbs-up {% endif %}"></i>
                    </a> &nbsp;
                    <span id="like-count">{{ faq.likes.count }}</span> &ensp;
                    <i class="fas fa-eye" title="Views" ></i> &nbsp;
                    {{ faq.views.count }}
                {% endif %}
            </div>
         </div>
        <div>
            <form method="post" style="margin: 15px 5px 0 5px;" action="{% url 'search_results' %}">
            <span class="h4" style="margin: 15px 5px 0 5px;font-weight: bold; font-style: italic;">keywords:</span>
                {% csrf_token %}
                {% for keyword in keywords %}
                    <button class="chip btn" type="submit" name="search_text" value="{{ keyword }}" style="margin: 10px 5px 0 5px;">{{ keyword }}</button>
                {% endfor %}
            </form>
        </div>
    </div>
</div>