{% load crispy_forms_tags %}
{% load static %}

{% if topics.count > 0 %}
    {% for topic in topics %}
        <li>
            <a href="{% url 'topic_home' topic.id topic.slug %}" style="margin: 10px;">
                <i class="fas fa-video">
                    &nbsp; {{ topic.title }}
                </i>
            </a>
        </li>
    {% endfor %}
{% endif %}

{% if courses.count > 0 %}
    {% for course in courses %}
        <li>
            <a href="{% url 'course_home' course.id course.slug %}" style="margin: 10px;">
                <i class="fas fa-book">
                    &nbsp; {{ course.course_no }} - {{ course.course_name }}
                </i>
            </a>
        </li>
    {% endfor %}
{% endif %}

{% if authors.count > 0 %}
    {% for author in authors %}
        <li>
            <a href="{% url 'author_home' author.id %}" style="margin: 10px;">
                <i class="fas fa-user">
                    &nbsp; {{ author.first_name | capfirst }} {{ author.last_name | capfirst }}
                </i>
            </a>
        </li>
    {% endfor %}
{% endif %}
{% if faqs.count > 0 %}
    {% for faq in faqs %}
        <li>
            <a href="{% url 'faq_home' faq.id faq.slug %}" style="margin: 10px;">
                <i class="fas fa-video">
                    &nbsp; {{ faq.title }}
                </i>
            </a>
        </li>
    {% endfor %}
{% endif %}
{% if topics.count == 0 and authors.count == 0 and courses.count == 0 and faqs.count == 0 %}
    <li style="text-align: center; font-weight: bold"> No Results! </li>
{% endif %}