{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}
    Search Results
{% endblock %}

{% block content %}
    <div style="padding: 20px 0;">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#topics">Topics</a></li>
            <li><a data-toggle="tab" href="#courses">Courses</a></li>
            <li><a data-toggle="tab" href="#faqs">FAQs</a></li>
            <li><a data-toggle="tab" href="#authors">Authors</a></li>
        </ul>

        <div class="box-shadow-effect" style="background-color: white; padding: 1em; border-radius: 0 5px 5px 5px; border: solid 1px  #ddd; border-top: 0;">
            <div class="tab-content">
                <div id="topics" class="tab-pane fade in active">
                    {% if topics %}
                        <div style="background-color: white; padding: 1em;">
                                {% include "smartclass/snippets/topic_list_snippet.html" with topic_list=topics  %}
                        </div>
                    {% else %}
                        <h4>No Topics Found!</h4>
                    {% endif %}
                </div>
                <div id="courses" class="tab-pane fade">
                    {% if courses %}
                        <div style="background-color: white; padding: 1em;">
                            {% include "smartclass/snippets/course_list_snippet.html" with course_list=courses %}
                        </div>
                    {% else %}
                        <h4>No Courses Found!</h4>
                    {% endif %}
                </div>
                <div id="faqs" class="tab-pane fade">
                    {% if faqs %}
                        {% include 'smartclass/snippets/faq_list_snippet.html' with faq_list=faqs %}
                    {% else %}
                        <h4>No FAQs Found!</h4>
                    {% endif %}
                </div>
                <div id="authors" class="tab-pane fade">
                    {% if authors %}
                        <div class="list-group bg-info">
                            {% for author in authors %}
                                <a class="list-group-item list-group-item-info" href="{% url 'author_home' author.id %}">
                                    {{ author.first_name | capfirst}}  {{ author.last_name | capfirst}}
                                </a>
                            {% endfor %}
                        </div>
                    {% else %}
                        <h4>No Authors Found!</h4>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}