.player-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sidebar {
  width: 360px;
  height: 360px;
  background-color: #475470;
  font-family: Arial, sans-serif;
}


@media screen and (max-width: 1080px) {
  .sidebar {
    width: 640px;
    margin-bottom: 20px;
  }
}

.sidebar h3 {
  padding: 20px;
  margin: 0;
  font-size: 14px;
  color: #fff;
  text-align: left;
}

.searchbox {
   margin: 10px 20px;
   display: block;
   position: relative;
}

.searchbox input {
  line-height: 20px;
  font-size: 16px;
  color: #000;
  width: 100%;
  padding: 5px 20px 5px 30px;
  background: #fff url('//s3.amazonaws.com/demo.jwplayer.com/interactive-transcript/search.png') no-repeat top left;
  border-radius: 3px;
  border: none;
}

.searchbox .match {
  position: absolute;
  right: 10px;
  top: 5px;
  line-height: 20px;
  font-size: 14px;
  color: #000;
}

.transcript {
  padding: 20px;
  max-height: 80%;
  overflow: auto;
}

.transcript p {
  font-size: 15px;
  overflow: hidden;
  text-align: left;
  color: #fff;
  line-height: 20px;
}

.transcript span {
  display: inline;
  padding: 4px 2px;
  line-height: 24px;
  cursor: pointer;
  color: #fff;
}

.transcript span.current {
  background: #00f096;
  color: #000;
}

.transcript span:hover {
  color: #00f096;
}

.transcript span em {
  font-style: normal;
  background: #666;
  color: #FFF;
}

.transcript span em.current {
  background: #ff0046;
}

.transcript h4 {
  margin: 25px 0 15px 0;
  text-align: left;
  color: #fff;
  font-weight: bold;
}

.caption-copy {
  max-width: 640px;
  margin: 20px auto;
  text-align: left;
  padding: 10px;
}

.caption-copy div,
.caption-copy ol,
.caption-copy li {
  text-align: left;
  font-size: 20px;
}

.caption-copy div {
  font-weight: 400;
  margin: 15px 0;
}

.caption-copy ol {
  margin-left: 15px;
  margin-top: 20px;
}

.caption-copy li {
  margin-bottom: 10px;
}