
body {
    padding-top: 70px;
    padding-bottom: 20px;
    background-color: #eeeeee;
}

.bold-links a {
    font-size: 14px;
    font-weight: bold;
}

.box-shadow-effect {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
"
}

a {
    color: #454545;
}

a:hover, a:focus {
    color: #878787;
}

.nav > li > a {
    font-weight: bold;
    font-size: 1.2em;
}

.thumb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.thumb li {
    width: 193px;
}

.thumb li ~ li {
    margin-left: 20px;
}

.thumb .thumbCaption {
    padding: 10px 0;
}

.overlay {
    position: relative;
}

.overlay .thumbnail {
    display: block;
}

.overlay .time {
    position: absolute;
    z-index: 2;
    right: 3px;
    bottom: 3px;
    padding: 2px 5px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

.overlay .playWrapper {
    opacity: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    width: 320px;
    height: 180px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.6) url("http://wptf.com/wp-content/uploads/2014/05/play-button.png") no-repeat scroll center center / 50px 50px;
}

.playWrapper .playBtn {
    position: absolute;
    z-index: 2;
    width: 50px;
    height: 50px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto; /* center */
}

.thumb .overlay:hover .playWrapper {
    opacity: 1;
}

.asteriskField {
    color: #cc0000;
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    border-radius: 25px;
    background-color: #b9d8f1;
}

.black-thumbs-up{
    color: black; !important;
}
.gray-thumbs-up{
    color: #878787; !important;
}