{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}
    {{ course }}
{% endblock %}

{% block content %}
    <div style="text-align: center;">
        <h1>{{ author.first_name | capfirst }} {{ author.last_name | capfirst }}</h1><br>
        <h4>Hi there! You can find all of my courses, topics and FAQs here. I hope you will enjoy them!<br><br>
            If you have any questions, Please don't hesitate to email me at :
            <a style="color: #286090" href="mailto:{{ author.email }}">{{ author.email }}</a><br>
        </h4>
    </div>
    <div style="padding: 20px 0;">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#my-topics">My Topics</a></li>
            <li><a data-toggle="tab" href="#my-courses">My Courses</a></li>
            <li><a data-toggle="tab" href="#my-faqs">My FAQs</a></li>
        </ul>

        <div class="box-shadow-effect" style="background-color: white; padding: 1em; border-radius: 0 5px 5px 5px; border: solid 1px  #ddd; border-top: 0;">
            <div class="tab-content">
                <div id="my-topics" class="tab-pane fade in active">
                    {% if topics %}
                        {% include "smartclass/snippets/topic_list_snippet.html" with topic_list=topics  %}
                    {% else %}
                        <p>No Topics added yet!</p>
                    {% endif %}
                </div>
                <div id="my-courses" class="tab-pane fade">
                    {% if courses %}
                        {% include "smartclass/snippets/course_list_snippet.html" with course_list=courses %}
                    {% else %}
                        <p>No Courses added yet!</p>
                    {% endif %}
                </div>
                <div id="my-faqs" class="tab-pane fade">
                    {% if faqs %}
                        {% include 'smartclass/snippets/faq_list_snippet.html' with faq_list=faqs %}
                    {% else %}
                        <p>No FAQs added yet!</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}