{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}
    {{ course }}
{% endblock %}

{% block content %}
    <div style="text-align: center;">
        <h1>{{ course.course_name }}
            <span class="h4"> by
                <a href="{% url 'author_home' course.created_by.id %}">
                {{ course.created_by.first_name | capfirst}} {{ course.created_by.last_name | capfirst }}
                </a>
            </span>
            <br>
            <span class="h5" style="margin-left:20px; font-style: italic">created on: {{ course.created_on.date }}</span>
        </h1><br>
        <h4>{{ course.course_description }}</h4><br>
    </div>
    <div style="padding: 20px 0;">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#topics">Topics</a></li>
            <li><a data-toggle="tab" href="#related-courses">Related Courses</a></li>
            <li><a data-toggle="tab" href="#faqs">FAQs</a></li>
        </ul>

        <div class="box-shadow-effect" style="background-color: white; padding: 1em; border-radius: 0 5px 5px 5px; border: solid 1px  #ddd; border-top: 0;">
            <div class="tab-content">
                <div id="topics" class="tab-pane fade in active">
                    {% if topics %}
                        {% include "smartclass/snippets/topic_list_snippet.html" with topic_list=topics  %}
                    {% else %}
                        <p>No topics added to this course yet.</p>
                    {% endif %}
                </div>
                <div id="related-courses" class="tab-pane fade">
                    {% if related_courses %}
                        {% include "smartclass/snippets/course_list_snippet.html" with course_list=related_courses %}
                    {% else %}
                        <p>No related courses!</p>
                    {% endif %}
                </div>
                <div id="faqs" class="tab-pane fade">
                    {% if faqs %}
                        {% include 'smartclass/snippets/faq_list_snippet.html' with faq_list=faqs %}
                    {% else %}
                        <p>No FAQs added for this course yet!</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}