{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    {{ faq }}
{% endblock %}

{% block styling %}
    {{ block.super }}
    <link href="https://vjs.zencdn.net/7.0.3/video-js.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/jwplayer.css' %}">
{% endblock %}

{% block content %}
    <div style="text-align: center;">
        <h1>{{ faq.title }}
            <span class="h4"> by
                <a href="{% url 'author_home' faq.added_by.id %}">
                    {{ faq.added_by.first_name | capfirst}} {{ faq.added_by.last_name | capfirst }}
                </a>
            </span>
            <span class="h5" style="margin-left:20px;font-style: italic">added on: {{ faq.added_on.date }}</span>
        </h1><br>
        <h4>{{ faq.video_description }}</h4><br>
    </div>
    {% include "faq_video_portal/video_snippet.html" %}
    <br>
    <div style="padding: 20px 0;">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#topics">Topics</a></li>
            <li><a data-toggle="tab" href="#courses">Courses</a></li>
            <li><a data-toggle="tab" href="#related-faqs">Related FAQs</a></li>
        </ul>

        <div class="box-shadow-effect" style="background-color: white; padding: 1em; border-radius: 0 5px 5px 5px; border: solid 1px  #ddd; border-top: 0;">
            <div class="tab-content">
                <div id="topics" class="tab-pane fade in active">
                    {% if associated_topics %}
                        {% include "smartclass/snippets/topic_list_snippet.html" with topic_list=associated_topics  %}
                    {% else %}
                        <p>No related topics.</p>
                    {% endif %}
                </div>
                <div id="courses" class="tab-pane fade">
                    {% if associated_courses %}
                        {% include "smartclass/snippets/course_list_snippet.html" with course_list=associated_courses %}
                    {% else %}
                        <p>No related courses!</p>
                    {% endif %}
                </div>
                <div id="related-faqs" class="tab-pane fade">
                    {% if related_faqs %}
                        {% include 'smartclass/snippets/faq_list_snippet.html' with faq_list=related_faqs %}
                    {% else %}
                        <p>No FAQs added for this topic yet!</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="//content.jwplatform.com/libraries/IDzF9Zmk.js"></script>
    <script>
        var media_root = "{% get_media_prefix %}{{ media_root }}";
        var download_icon = "{% static "img/download.png" %}";
        var video_file = media_root + "faq.mp4";
    </script>
    <script src="{% static 'js/jwplayer.js' %}" type="text/javascript"></script>
{% endblock %}