{% extends "base.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div>
                    <h1>Welcome!</h1>
                    <h2>Let's learn something new!</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}