{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block styling %}
            <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/main.css' %}">
            <link rel="stylesheet" href="{% static 'css/loading.css' %}">
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        {% endblock %}
        <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    </head>
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
                <div class="navbar-header">
                  <a class="navbar-brand" href="/" style="font-weight: bold;">Smart Class</a>
                </div>
                <ul class="nav navbar-nav navbar-right bold-links">
                    {% if user.is_authenticated %}
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">More <span class="caret"></span></a>
                            <ul class="dropdown-menu" style="background-color: #f3f3f3;">
                                <li><a href="{% url 'user_change_password' %}" class="fas" style="font-weight: 900">Change Password</a> </li>
                                {% if user.is_staff %}
                                    <li> <a href="{% url 'add_course' %}" class="fas" style="font-weight: 900">Add Course</a> </li>
                                    <li> <a href="{% url 'add_topic' %}" class="fas" style="font-weight: 900">Add Topic</a> </li>
                                    <li> <a href="{% url 'add_faq' %}" class="fas" style="font-weight: 900">Add FAQ</a> </li>
                                {% endif %}
                            </ul>
                        </li>
                        <li><a href="{% url 'user_logout' %}">Logout</a> </li>
                    {% else %}
                        <li><a href="{% url 'user_login' %}">Login</a></li>
                    {% endif %}
                </ul>
                {% if user.is_authenticated %}
                    <div class="col-sm-4 col-md-6">
                        <form class="navbar-form navbar-left" method="post" action="{% url 'search_results' %}" role="search" style="margin-left: 10em;">
                            <div class="input-group">
                                <input type="search" id="search" class="form-control" placeholder="Search for topics, courses, faqs and authors"
                                       autocomplete="off" spellcheck="true" name="search_text" style="background-color: #f3f3f3; width: 40em;">
                                    {% csrf_token %}
                                    <ul id="search-results" class="dropdown-menu" style="background-color: #f3f3f3; width: 40em;">

                                    </ul>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                {% endif %}
          </div>
    </nav>
    <main>
      <div class="container">
        {% include 'smartclass/messages.html' %}
        {% block content %}
        {% endblock %}
      </div>
    </main><!-- /container -->

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>

        <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>

        <script src="{% static 'js/main.js' %}"></script>

        <script src="{% static 'js/loading.js' %}"></script>
        {% block javascript %} {% endblock %}
    </body>
</html>
