{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Change password
{% endblock %}

{% block content %}
    <div class="col-md-offset-3 col-md-6">
        <form role="form" action="{% url 'user_change_password' %}" method="post" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}

            <h2>Please change your password.</h2>

            {{ form | crispy }}

            <button type="submit" class="btn btn-success">Change Password</button>
            <a href="{% url 'user_home' %}" class="btn btn-primary">Cancel</a>
        </form>
    </div>
{% endblock %}