{% extends "base.html" %}

{% block title %}
    Home: {{ user.username | capfirst }}
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome {{ user.first_name | capfirst }}!</h1>
            <h2>Let's learn something new!</h2>
        </div>
    </div>
{% endblock content %}