{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <form role="form" action="{% url 'user_login' %}" method="post" autocomplete="off">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <h2>Please login.</h2>
                    {{ form | crispy }}
                    <button type="submit" class="btn btn-success">Log in</button>
                        or
                    <button type="button" class="btn btn-primary" onclick="location.href='{% url 'user_signup' %}'">
                        Sign Up
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}