{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Signup
{% endblock %}

{% block content %}
    <div class="col-md-offset-3 col-md-6">
        <form role="form" action="{% url 'user_signup' %}" method="post" autocomplete="off" data-validate-username-url="{% url 'validate_username' %}">
            {% csrf_token %}

            <h2>Please create an account.</h2>

            {{ form | crispy }}

            <button type="submit" class="btn btn-success">Sign Up</button>
        </form>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $("#id_username").change(function () {
            let form = $(this).closest("form");
            ajax_validate("#id_username", "data-validate-username-url", form);
        });
    </script>
{% endblock %}