{% for course in course_list %}
    <div class="row" style="padding: 1em 0 1em 0;border: 0 solid #f7f7f7;">
        <a href="{% url 'course_home'  course.id course.slug %}">
            <div class="col-md-12" style="display: block;">
                <div>
                    <p style="font-size: 18px; font-weight: bold">
                        {{ course }}
                        <span class="fas" style="font-size: 15px; font-weight: normal !important;">
                            by {{ course.created_by.first_name | capfirst}} {{ course.created_by.last_name | capfirst }}
                        </span>
                    </p>
                </div>
                <div>
                    <p class="fas" style="font-size: 17px; font-weight: normal !important;">
                        {{ course.course_description | truncatechars:300}}
                    </p>
                </div>
            </div>
        </a>
    </div>
    <hr>
{% endfor %}