{% load static %}
{% load humanize %}

{% for faq in faq_list %}
    <div class="row" style="padding: 1em 0 1em 0;border: 0 solid #f7f7f7;">
        <div class="col-md-4">
            <ul class="thumb">
                <li>
                    <div class="overlay">
                        <a href="{% url 'faq_home' faq.id faq.slug %}">
                            <img src="{% get_media_prefix %}{{ faq.video_thumbnail_url }}" height="180px;" width="320px;" style="border-radius: 5px;"/>
                        </a>
                        <a href="{% url 'faq_home' faq.id faq.slug %}" class="playWrapper">
                            <span class="playBtn">
                                <img src="http://wptf.com/wp-content/uploads/2014/05/play-button.png" width="50" height="50" alt="">
                            </span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-8" style="display: block;">
            <div>
                <p>
                    <span style="font-size: 18px; font-weight: bold">{{ faq.title }}</span>
                    <span class="fas" style="font-size: 15px; font-weight: normal !important;">
                        by {{ faq.added_by.first_name | capfirst}} {{ faq.added_by.last_name | capfirst }}
                    </span>
                </p>
            </div>
            <div>
                <p class="fas" style="font-size: 17px; font-weight: normal !important;">
                {{ faq.video_description | truncatechars:300}}
                </p>
            </div>
            <div class="col-md-3 fas" style="font-size: 16px; font-weight: normal !important;">{{ faq.video_length }}</div>
            <div class="col-md-3 fas" style="font-size: 16px; font-weight: normal !important;">
                {{ faq.added_on | naturalday | capfirst}}
            </div>
            <div class="col-md-3 fas" style="font-size: 16px; font-weight: normal">
                    <i class="fas fa-thumbs-up"></i> {{ faq.likes.count }} &ensp;
                    <i class="fas fa-eye"></i> {{ faq.views.count }}
            </div>
        </div>
    </div>
    <hr>
{% endfor %}