{% load static %}
{% load humanize %}

{% for topic in topic_list %}
    <div class="row" style="padding: 1em 0 1em 0;border: 0 solid #f7f7f7;">
        <div class="col-md-4">
            <ul class="thumb">
                <li>
                    <div class="overlay">
                        <a href="{% url 'topic_home' topic.id topic.slug %}">
                            <img src="{% get_media_prefix %}{{ topic.video_thumbnail_url }}" height="180px;" width="320px;" style="border-radius: 5px;"/>
                        </a>
                        <a href="{% url 'topic_home' topic.id topic.slug %}" class="playWrapper">
                            <span class="playBtn">
                                <img src="http://wptf.com/wp-content/uploads/2014/05/play-button.png" width="50" height="50" alt="">
                            </span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <div style="display: block;">
                <div>
                    <p>
                        <span style="font-size: 18px; font-weight: bold">{{ topic.title }}</span>
                        <span class="fas" style="font-size: 15px; font-weight: normal !important;">
                            by {{ topic.added_by.first_name | capfirst}} {{ topic.added_by.last_name | capfirst }}
                        </span>
                    </p>
                </div>
                <div>
                    <p class="fas" style="font-size: 17px; font-weight: normal !important;">
                        {{ topic.video_description | truncatechars:300}}
                    </p>
                </div>
                <div class="col-md-3 fas" style="font-size: 16px; font-weight: normal !important;">{{ topic.video_length }}</div>
                <div class="col-md-3 fas" style="font-size: 16px; font-weight: normal !important;">
                    {% if topic.difficulty_level == '1' %}
                        <i class="fa fa-graduation-cap" aria-hidden="true"> </i>
                        Beginner
                    {% elif topic.difficulty_level == '2' %}
                        <i class="fa fa-graduation-cap" aria-hidden="true"> </i>
                        <i class="fa fa-graduation-cap" aria-hidden="true"> </i>
                        Intermediate
                    {% elif topic.difficulty_level == '3' %}
                        <i class="fa fa-graduation-cap" aria-hidden="true"> </i>
                        <i class="fa fa-graduation-cap" aria-hidden="true"> </i>
                        <i class="fa fa-graduation-cap" aria-hidden="true"> </i>
                        Advance
                    {% else %}
                        <i class="fa fa-graduation-cap" aria-hidden="true"> </i>
                        <i class="fa fa-graduation-cap" aria-hidden="true"> </i>
                        <i class="fa fa-graduation-cap" aria-hidden="true"> </i>
                        <i class="fa fa-graduation-cap" aria-hidden="true"> </i>
                        Expert
                    {% endif %}
                </div>
                <div class="col-md-3 fas" style="font-size: 16px; font-weight: normal !important;">{{ topic.added_on | naturalday | capfirst}}</div>
                <div class="col-md-3 fas" style="font-size: 16px; font-weight: normal">
                    <i class="fas fa-thumbs-up"></i> {{ topic.likes.count }} &ensp;
                    <i class="fas fa-eye"></i> {{ topic.views.count }}
                </div>
            </div>
        </div>
    </div>
    <hr>
{% endfor %}